p {
    font-size: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

div {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f8e5e5;
    color: #181818;
}
